# VSCode Files ignore
/.vscode

# Mac OS's thumbs ignore
*/.DS_Store
.DS_Store

# CMake Files ignore
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Build files
/bin